html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: visible; 
}

/* App Container */
.App {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

/* Left Sidebar */
.left {
  width: 30%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1%;
  padding-right: 0;
  flex-direction: column;
}

.left-mobile {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1%;
  padding-right: 0;
  flex-direction: column;
  overflow: hidden !important;
}

/* Title */
.title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.02em;
  margin: 1.2rem;
}

/* Create Notes Group Button */
.create-group-button {
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.4rem 2rem;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 1rem;
}


.create-group-button img {
    vertical-align: middle;
    height: 45%;
    width: 13%;
    align-items: center;
    margin-right: 5%;
}


/* Groups List */
.groups-list {
  overflow-y: auto;
}

/* Group Item */
.group-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2%;
  margin-left: 2%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  transition: background-color 0.1s;
}

.group-item.selected {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #f7ecdc;
}

/* Group Icon */
.group-icon {
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 2%;
  color: white;
  text-transform: uppercase;
  width: 4rem;
  height: 4rem;
  align-items: center;
  text-align: center;
  display: flex;
}

.group-icon p {
  text-align: center;
  margin: auto;
}

/* Group Name */
.group-name {
  font-size: 21px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: left;
}

/* Right Content */
.right {
  width: 70%;
  padding: 0%;
  background: #f7ecdc;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Group Details */
.group-details {
  padding: 0;
  overflow: hidden;
}

.group-details .group-icon {
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  margin-left: 1%;
  padding-right: 0%;
  text-transform: uppercase;
}

/* Group Info */
.group-info {
  background-color: #e8e8e8;
  padding: 1%;
  display: flex;
  align-items: center;
}


.notes-container {
  margin-top: 1%;
  padding: 2%;
  overflow-y: auto; 
  flex: 1; 
  max-height: 60%; 
}

/* Note */
.note {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* Note Text */
.note-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.035em;
  text-align: justify;
  width: 85%;
  color: #000000;
}

/* Note Time */
.note-time {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  width: 15%;
  color: #353535;
  text-align: left;
}


/* Input Container */
.input-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-top: 2%;
  background-color: #e8e8e8;
}

#new-group-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.6rem;
}

.right .input-note {
  font-family: "Roboto", sans-serif;
  flex: 1;
  width: 100%;
  padding: 1%;
  font-size: 25px;
  border: 1px solid #cccccc;
  border-radius: 9px;
  /*margin-right: 1%;*/
  box-sizing: border-box;
  height: 10rem;
  width: inherit;
  max-height: 10rem;
}

/* Input Box */
.group-name-div input[type="text"] {
  border: 1px solid #cccccc;
  border-radius: 9px;
  /* margin-right: 1%; */
  box-sizing: border-box;
  /* height: 10rem; */
  font-size: 1rem;
  /* width: inherit; */
  padding: 0.8rem 1.2rem;
}

.enter-button {
  position: fixed;
  bottom: 4%;
  right: 2%;
  cursor: pointer;
  background-color: #fff;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 4%;
  height: 4%;
  border: none;
}

/* Style the image inside the button */
.enter-button img {
  width: 100%;
  height: 100%;
}

/* Group Dialog */
.group-dialog {
  width: 60%;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  align-items: center;
  position: absolute;
  background: #fff;
  padding: 1%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.group-dialog-mobile {
  width: 100%;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  align-items: center;
  position: absolute;
  background: #fff;
  padding: 1%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dialog-instructions {
  font-size: 1.5rem;
  font-weight: 800;
  /* line-height: 100%; */
  /* letter-spacing: 0.035em; */
  text-align: left;
  /*padding: 1rem;*/
}

.group-name-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.group-name-label {
  font-weight: 600;
  letter-spacing: 0.035em;
  text-align: left;
  margin: 1%;
}

/* Group Name Input */
.group-dialog input[type="text"] {
  box-sizing: border-box;
  width: 50%;
}

/* Color Picker */
.color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
}

.choose-color-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.035em;
  text-align: left;
}

.colors-container {
  display: flex;
  gap: 0.4rem;
  justify-content: flex-start;
}

/* Color Circle */
.color-circle {
  display: flex;
  flex-direction: row;
  width: 2rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
}

/* Create Button */
.create-button {
  border-radius: 0.75rem;
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 150%;
  letter-spacing: 0.035em;
  text-align: center;
  cursor: pointer;
  margin: auto;
  padding: 0.2rem 4rem;
}

/* No Group Selected */
.no-group-selected {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

/* Landing Page */

.landing-img {
  display: block;
  flex-direction: column;
  padding-top: 8%;
}

.landing-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 2%;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 5%;
  padding-top: 3%;
}

.landing-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/* Encryption */

.encryption {
  display: -webkit-inline-box;
  flex-direction: row;
  padding-top: 15%;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.encryption-img {
  margin-right: 2%;
  margin-top: 5%;
}

.encryption-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 5%;
  letter-spacing: 0.02em;
  padding-top: 10%;
}
